<!DOCTYPE html>
<html lang="en">
  <%- include ./partials/head.ejs %>
  <%- include ./partials/header.ejs %>

  <body>

    <div id="appContainer">
      
      <div id="app"></div>
    </div>

  </body>

  <%- include ./partials/footer.ejs %>
</html>
